.contact-container{
    background-color: #1E272E;
    padding: 70px, 130px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 800px;
    transform: translateY(-20px);
    position: relative;
}

.contact-pic{
    max-width: 40px;
    max-height: 40px;
    border-radius: none;
    


}