.photo{
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    padding: 5px;
    margin: 4px;
}

.image{
    display: flex;
    width: 90%;
    height: auto;
    justify-content: center;
}